/A.class
/AnonymousInnerClass$1.class
/AnonymousInnerClass$2.class
/AnonymousInnerClass.class
/OuterClass01$InnerClass.class
/OuterClass01.class
/OuterClass02$1InnerLocalClass.class
/OuterClass02.class
